<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>

	<!-- In <head> or before </body> -->
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
  integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  crossorigin=""></script>
	<script src="PruneCluster/dist/PruneCluster.js"></script>
  
<div class="w3-container">
  <h2>Карта</h2>
  <div class="w3-row">
    <a (click)="openTab($event, 'instruction');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-amber">Инструкция</div>
    </a>
    <a (click)="openTab($event, 'settings');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Настройки</div>
    </a>
    <a (click)="openTab($event, 'mapTab');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Карта</div>
    </a>        
  </div>
  <div id="instruction" class="w3-container tabContent" style="display:block">
    <h2>Инструкция</h2>
    <div class="w3-card-4">
      <header class="w3-container w3-amber">
        <h3>Формат csv файла</h3>
      </header>
      <div class="w3-container">
        <ul class="w3-ul">
          <li><i class="fa fa-dot-circle-o w3-text-red" aria-hidden="true"></i> Файл должен содержать заголовок и миним 2 строки с данными</li>
          <li><i class="fa fa-dot-circle-o w3-text-red" aria-hidden="true"></i> Разделитель столбцов - ";" (точка с запятой без кавычек) </li> 
          <li><i class="fa fa-dot-circle-o w3-text-red" aria-hidden="true"></i> Обязательные поля "longitude" и "latitude" (долгота и широта) в десятичном формате с разделителем дроброй части - точка</li>
          <li><i class="fa fa-dot-circle-o w3-text-green" aria-hidden="true"></i> color - цвет маркера. По умолчанию черный.</li>
          <li><i class="fa fa-dot-circle-o  w3-text-green" aria-hidden="true"></i> popupContent - текст вслывающего сообщения по маркеру.</li>
        </ul>
        <h4>Пример содержимого файла:</h4>
        <div class="w3-code notranslate"> 
<pre>color;longitude;latitude;popupContent 
blue;36.2688267;54.5358577;Exist.ru 
Cyan;36.269688;54.5365578;avtomaslo 
#006666;36.2688286;54.5358333;UFMS 
red;37.61548161506653;55.750418370023;ouuuu 
green;63.6328125;58.26328705248601;gggggggg 
yellow;38.408203125;56.41390137600676;MSK</pre>
        </div>
      </div>
    </div>
  </div>
  <div id="settings" class="w3-container tabContent" style="display:none">
    <h2>Настройки</h2>         
    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px">
        <label class="w3-btn w3-amber">
          <i class="fa fa-upload" aria-hidden="true"></i>
          <input type="file" id="fileInput"  (change)="onFileChange($event)" accept=".csv,text/plain">
        </label>
      </div>
      <div class="w3-rest">
        <input class="w3-input w3-border w3-light-grey" #fileName disabled name="last" type="text" placeholder="Выберете файл">
      </div>
       <input class="w3-check" type="checkbox" checked="checked" (change)="clasteredFlagChanged($event)" #IsClasteredFlag>
      <label>Кластеризация маркеров</label>
    </div>
  </div>
  <div id="mapTab" class="w3-container tabContent" style="display:none">
    <div id="map" class="w3-container"></div>
  </div>
</div>